html{
    margin:0px;
    background: url("../img/Site_04.jpg") no-repeat;
    background-size: cover; 
}

#cabecalho{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
    top: 0px;
    height: 80px;
    background: white;
}
#logo {
    display: block;
    position: absolute;
    top: 1px;
    left: 20px;
    height: 76px;
    width: 250px;
    background: url(../img/LogoEmpresa.jpg);
    background-size: cover; 
}

#bemvindo{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 14pt; 
}

#logoff{
    position: absolute;
    right: 20px;
    top: 52px;
    font-size: 14pt; 
}

#buscar{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 24px;
    left: 330px;
    border-radius: 50%;
    cursor:pointer;
    background: url(../img/Lupa.png);
    background-size: cover;
}

input#inputBusca{
    display: block;
    position: absolute;
    width: 750px;
    height: 20px;
    top: 27px;
    left: 370px;
    border: 2px solid black;
    border-radius: 10px; 
    padding-left: 10px; 
}

#menu{
    display: block;
    position: absolute;
    background: white;
    top: 80px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-size: 15pt;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

#noticia{
    display: block;
    position: absolute;
    top: 155px;
    bottom: 10px;
    right: 10px;
    width: 400px;
    z-index: -10;
    background: #333;
    opacity: 0.8;
}

#noticias{
	text-align:center;
}

#noticias{
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
        font-size: 20pt;
}
#noticias span{
	color: #7cbcd6;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}
#noticias h1{
	color: #888;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}

#slideShow{
    display: block;
    position: absolute;
    top: 175px;
    left: 50px;
    bottom: 50px;
    width: 850px;
    background: #333;
    border-radius: 5px; 
    background-image: url(../img/Site_02.jpg);
}

#slideShow div{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    background: #222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#slideShow div label{
    margin: 10px 10px 10px 10px;
}

#slideShow input{
    width: 50px;
    height: 50px;
    background-color: #7cbcd6;
    font-size: 25pt;
    font-weight: bold;
    font-family: Calibri (Corpo);
    color: black;
    position: absolute;
    top: 42%;
    opacity: 0.0;
}

#slideShow #proximo{
    right: 10px;
}

#slideShow #anterior{
    left: 10px;
}

#slideShow input:hover{
    opacity: 0.9;
}