html{
    margin:0px;
    background: url("../img/Site_04.jpg") no-repeat;
    background-size: cover; 
}

#cabecalho{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
    top: 0px;
    height: 80px;
    background: white;
}
#logo {
    display: block;
    position: absolute;
    top: 1px;
    left: 20px;
    height: 76px;
    width: 250px;
    background: url(../img/LogoEmpresa.jpg);
    background-size: cover; 
}

#bemvindo{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 14pt; 
}

#logoff{
    position: absolute;
    right: 20px;
    top: 52px;
    font-size: 14pt; 
}

#buscar{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 24px;
    left: 330px;
    border-radius: 50%;
    cursor:pointer;
    background: url(../img/Lupa.png);
    background-size: cover;
}

input#inputBusca{
    display: block;
    position: absolute;
    width: 750px;
    height: 20px;
    top: 27px;
    left: 370px;
    border: 2px solid black;
    border-radius: 10px; 
    padding-left: 10px; 
}

#menu{
    display: block;
    position: absolute;
    background: white;
    top: 80px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-size: 15pt;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

#location{
    display: block;
    position: absolute;
    top: 170px;
    z-index: -10;
}

#choice{
    margin: 10px 50px 10px 80px;
}

#choice-wrapper{
    position: static;
    left: 0px;
    right: 0px;
    margin: 0px;
    text-align: left;
}

#choice ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#choice ul li img{
    vertical-align: middle;
    padding-left: 5px;
    margin: 0px;
}
#choice ul li{
    display: inline-block;
    text-align: center;
    font-size: 15pt;
}

#choice ul li:hover{
    background-color: #93f7fd;
}

#choice ul li a,visited{
    color: #ccc;
    display: block;
    padding: 15px;
    padding-left:51px;
    padding-right: 51px;
    text-decoration: none;
}

#choice ul li a:hover{
    color: #ccc;
    text-decoration: none;
}
